html {
	height: 100%;
}

body {
  background-color: #eee;
  height: 100%;
	font-family: 'Montserrat', sans-serif;

}

body > .container {
  background-color: #fff;
  min-height: 75%;
  padding-top: 75px;

}
form.decision-block {margin-bottom: 20px;}
.delete-decision{
    margin: 20px 0;
}
.casequestion{
    clear:both;
}
footer {padding-top: 20px;}

a.active{
    font-weight: bold;
    color: #000;
}

.jumbotron {background-image: url(../img/group.jpg); color: #fff;
background-position: -350px bottom; 
}

#content {
  min-height: 100%;
}

/* LOGIN PAGE */
.login-description {
    margin: 0px;
    text-align: center;
}

.login-description h2 {
    line-height: 1.3em;
    display: block;
}

.loginbox-container {
    float: right;
    height: 265px;
    margin-top: 0px;
}

.loginbox-container.columbia {
    height: 300px;
}
.loginbox
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #999;
    background-color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 12px;
    text-align: center;
}
.loginbox h2
{
    margin: 0 !important;
    padding: 5px 10px !important;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    background: #e0e0e0;
    font-weight: bold !important;
    font-size: 14px !important;
    color: black;
}
.loginbox .content
{
    margin: 0;
    padding: 5px;
    border: 0;
}

.loginbox .seperator
{
    margin: 20px 0;
    padding: 0;
    border: 0;
    border-top: 1px dotted #999;
    background-color: #fff;
}

.loginbox .fieldwrapper
{
    margin: 0px;
    padding: 0;
    border: 0;
}
.loginbox .fieldwrapper label
{
    display: block;
    font-weight: bold;
    color: #666;
    font-size: 12px;
}

.loginbox .fieldwrapper input {
    margin: 2px 0;
    padding: 3px;
    border: 0;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font: bold 12px;
}

.loginbox .fieldwrapper input:focus
{
    border: 1px solid #06f;
    background-color: #fff;
}

.loginbox .regbutton
{
    cursor: pointer;
    padding: 4px 17px;
    margin: 0 0 10px 0px;
    color: #000;
    font-weight: normal;
    font-size: 14px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left-color: #ccc;
    border-right-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
    background: -moz-linear-gradient(top, #fff, #e6e6e6);
    font: bold 14px arial, helvetica, verdana, sans-serif !important;
    text-transform: uppercase;
}
.loginbox .regbutton:hover
{
    border: 1px solid #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    background: -moz-linear-gradient(top, #fff, #ddd);
}
.loginbox .regbutton:active
{
    border: 1px solid #006666;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#669999));
    background: -moz-linear-gradient(top, #fff, #669999);
}

.loginbox .smalltxt
{
    font-size: 11px;
}

.errornote {
    background: url("/media/img/icon_alert.png") no-repeat 5px 5px #FFEBE8;
    border: 1px solid #c00 !important;
    display: block;
    font-size: 11px !important;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 10px !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    line-height: 140%;
}

ul.side-nav {
    margin: 20px 0 20px 20px;
    float: right;
}

ul.side-nav li li {
    margin-left: -25px;
}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* Add Pageblock  */
#add-pageblock-tab ul {
	list-style-type: none;
}


/* Overrides  */
.col-md-2{
    width: 36.666667%;
}
.col-md-10 {
    width: 53.333333%;
}
.button-confirmed{
    color: #999;
    display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}
ul.pager li.next a.disabled {
        color: #999;
        cursor: not-allowed;
    }
    
ul.pager li.next a.disabled:active {
    box-shadow: none;
}
.mceIframeContainer iframe{
    width: 600px!important;
    height: 600px!important;
}

.modal-dialog {
    width: 676px!important;
    margin: 30px auto;
}

/* Facilitator page */
.gate-block.active{
    border: 3px solid #FFA771;
    border-radius: 6px;
}

.library-item-name{
    width: 250px;
    height: 75px;   
}
input.library-item-submit{
    display: block;
}
#library-add-form .modal-content{
    padding: 15px;
}
.facilitator-usrnm{
    font-weight: bold;
}
ul.gate-section-list{
    list-style: none;
}
.gate-section{
    float: left
}

.gate-button {}
.gate-button form{}
.preview-page{}

.glyphicon-trash, .glyphicon-edit{
    cursor: pointer;
}
#library-item-view{
    margin: 30px 0 0 0;
}
.has-error{
    color:#a94442;
}

.edit-delete-links{
    float: right;
    margin: 0px;
}

/* Discussion for submitted quizzes */
.discussion {
	background-color: #D3FFD3;
    border-style: solid;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 1em;
    border-color: #438343;
    border-radius: 2em;
}

/* facilitator page */
.btn-block.btn-incomplete{
    background: #d9534f;
    color: #fff;
}
.btn-block.btn-incomplete .badge{
    background: #fff;
    color:#d9534f;
}
.status-waiting{
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.status-waiting:hover{
    background: #fcf8e3 !important;
    border-color: #faebcc !important;
    color: #8a6d3b !important;
}
.status-waiting .badge{
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.status-completed:hover{
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

.progress {
  height: inherit;
  margin-bottom: 0px;
  background-color: #fc6;
  -webkit-box-shadow: none;
  box-shadow:  none;
}

.decision-block{
    clear: right;
}
