{% load markup %}

  {% if block.curveball_one %}
    {{block.curveball_one.title|markdown}}
    {{block.curveball_one.explanation|markdown}}
  {% elif block.curveball_two %}
    {{block.curveball_two.title|markdown}}
    {{block.curveball_two.explanation|markdown}}
  {% elif block.curveball_three %}
    {{block.curveball_three.title|markdown}}
    {{block.curveball_three.explanation|markdown}}
  {% endif %}


{% comment %}

  {% if block.curveball_one %}
    {{block.curveball_one.title|markdown}}
    {{block.curveball_one.explanation|markdown}}
  {% elif block.curveball_two %}
    {{block.curveball_two.title|markdown}}
    {{block.curveball_two.explanation|markdown}}
  {% elif block.curveball_three %}
    {{block.curveball_three.title|markdown}}
    {{block.curveball_three.explanation|markdown}}
  {% endif %}



{{block.body|markdown}}

{% extends "base.html" %}
{% load bootstrap %}
{% load accessible %}

{% block content %}

  {% if block.curveballsubmission_set.count > 0 %}
    {% for curveball in block.curveballsubmission_set.all %}
       {{curveball.title}}
       {{curveball.explanation}}
    {% endfor %}
  {% endif %}

{% endblock %}
{% endcomment %}