{% load markup %}

  {% if block.block.curveball_one %}
    {% if block.block.curveball_one.title %}
      {{block.block.curveball_one.title|markdown}}
    {% endif %}
    {% if block.block.curveball_one.explanation %}
      {{block.block.curveball_one.explanation|markdown}}
    {% endif %}
  {% elif block.block.curveball_two %}
    {% if block.block.curveball_two.title %}
      {{block.block.curveball_two.title|markdown}}
    {% endif %}
    {% if block.block.curveball_two.explanation %}
      {{block.block.curveball_two.explanation|markdown}}
    {% endif %}
  {% elif block.block.curveball_three %}
    {% if block.block.curveball_three.title %}
      {{block.block.curveball_three.title|markdown}}
    {% endif %}
    {% if block.block.curveball_three.explanation %}
      {{block.block.curveball_three.explanation|markdown}}
    {% endif %}
  {% endif %}

