{% load markup %}


{% if request.user.profile.is_admin %}
  {% if block.curveball_one %}
    {% if block.curveball_one.title %}
      {{block.curveball_one.title|markdown}}
    {% endif %}
    {% if block.curveball_one.explanation %}
      {{block.curveball_one.explanation|markdown}}
    {% endif %}
  {% elif block.curveball_two %}
    {% if block.curveball_two.title %}
      {{block.curveball_two.title|markdown}}
    {% endif %}
    {% if block.curveball_two.explanation %}
      {{block.curveball_two.explanation|markdown}}
    {% endif %}
  {% elif block.curveball_three %}
    {% if block.curveball_three.title %}
      {{block.curveball_three.title|markdown}}
    {% endif %}
    {% if block.curveball_three.explanation %}
      {{block.curveball_three.explanation|markdown}}
    {% endif %}
  {% endif %}
{% endif %}
