{% extends 'base.html' %}
{% block title %} | Start Page{% endblock %}

{% block content %}

{% if not request.user.is_anonymous %}

    <h1>{% if request.user.last_name %}{{request.user.first_name}} {{request.user.last_name}}{% else %}{{ request.user.username }}{% endif %}'s Start Page</h1>
    
    <p class="badge">Cohort ID: ###, Group ###</p>
    
    <p></p>
    
    <div class="well">
        <h2>Group Leader Case List</h2>
        <p>Select a case for your group to work on.</p>
        <ul class="case-index-list">
            {% for root in roots %}
            {% ifnotequal root.0 '/' %}
            <li><a href="{{ root.0 }}">CASETITLE ({{root.1}})</a> - This is a description of this case.</li>
            {% endifnotequal %}
            {% endfor %}
        </ul>
    </div>
    
    {% ifnotequal request.user.profile.profile_type  'group_user'  %}
    
    <div class="admin-section well">
        <h2>Facilitator Case Control</h2>
        <p>Select a case for helping your group with.</p>
        <ul>
            {% for root in roots %}
            {% ifnotequal root.0 '/' %}
            <li><a href="{{ root.0 }}facilitator/">CASETITLE ({{root.1}})</a> - This is a description of this case.</li>
            {% endifnotequal %}
            {% endfor %}
        </ul>
    </div>
    {% endifnotequal %}
    
{% else %}

<div class="jumbotron text-center">
    <img style="margin-bottom: 20px;" class="img-responsive" src="{{STATIC_URL}}img/logo-jumbotron.png" />
    <p><a class="btn btn-success btn-lg" href="about.html" role="button">Learn More</a></p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/smallgroup.jpg" />
    <h2>Engagement</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
<div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/facilitator.jpg" />
    <h2>Leadership</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
<div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/experts.jpg" />
    <h2>Discussion</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
</div>

{% endif %}
{% endblock %}
