{% extends 'pagetree/base_pagetree.html' %}
{% load render %}
{% load accessible %}

{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}<h1>{{section.label}}</h1>{% endblock %}



{% block navrightextra %}
{% if not request.user.is_anonymous %}
<li><a href="{{section.get_edit_url}}" class="btn-success">edit page</a></li>
{% endif %}
{% endblock %}


{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        {% if module.get_children %}
        <h3>Sections</h3>
        {% include "pagetree/menu.html" %}
        {% endif %}
{% endblock %}

{% block content %}
<div id="content">
{% if needs_submit %}
{% if is_submitted %}
{% else %}
<!--<form action="." method="post">-->
{% endif %}
{% endif %}

{% for block in section.pageblock_set.all %}
{% if block.block.display_name == "Gate Block" %}

<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">

{% if block.label %}<h3>{{block.label}}</h3>{% endif %}
{% render block %}
</div>

{% elif block.block.display_name == "Case Quiz" %}
{% for quiz in case_quizblocks %}
            {% if quiz.id == block.id %}
                {% if quiz.completed != True%}
                <form action="." method="post">
        {% endif %}
    {% endif %}
{% endfor %}
<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
    {% if block.label %}
        
        <h3>{{block.label}}</h3>
    {% endif %}
{% render block %}
</div>
{% for quiz in case_quizblocks %}
            {% if quiz.id == block.id %}
                {% if quiz.completed != True%}
                <input type="hidden" name="pageblock-{{block.id}}-case" value="{{case.id}}" />
                <input type="submit" value="Submit Case Quiz" class="btn btn-primary" />
                 </form>
        {% endif %}
    {% endif %}
{% endfor %}
{% else %}
    <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">

    {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
    {% render block %}
    </div>

{% endif %}
{% endfor %}


   


{% include "pagetree/toc.html" %}

</div>
{% endblock %}

{% block content-nav %}

{% with previous=section.get_previous next_section=section.get_next %}
<ul class="pager">
{% if previous %}
  <li class="previous">
        <a href="{{previous.get_absolute_url}}">&larr; {{previous.label}}</a>
  </li>
{% endif %}

{% if next_section %}
<li class="next"><a class="{% ifsubmitted section %}{% else %}disabled{%endifsubmitted%}" href="{{next_section.get_absolute_url}}">{{next_section.label}} &rarr;</a></li>

{% endif %}
</ul>
{% endwith %}
{% endblock %}

