{% extends 'pagetree/base_pagetree.html' %}
{% load render %}
{% load accessible %}

{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}
{% endblock %}

{% block css %}
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}{% endblock %}



{% block navrightextra %}
{% if not request.user.profile_type == "group_usr" %}
<li><a href="{{section.get_edit_url}}" class="btn-success">edit page</a></li>
{% endif %}
{% endblock %}


{% block sidenav %}
        <!-- ###### Secondary Navigation ###### -->
        
{% endblock %}

{% block content %}
<div id="content">
  <div id="side-navigation">
    {% if module.get_children %}
      {% include "pagetree/menu.html" %}
    {% endif %}
  </div>

  {% for message in messages %}
  {% if message.level_tag == 'error' %}
       <div id="message-modal" class="modal fade in" data-callback="{{message.extra_tags}}">
      <div class="modal-dialog">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="modal-header panel-heading">Message</div>
              <div class="modal-body">
                <div id="edit-user" class="panel panel-default">
                  <div class="panel-heading">Choice submission error.</div>
                  <div class="panel-body">
                        It seems you forgot so select one of the choices! Please click on on of the choices and resubmit. Thanks!
                  </div>
                </div><!--end #hierarchiess-->
                </div> <!--end modal-dialog-->
          </div><!-- end modal-content-->
      </div><!--end .model-body-->
    </div><!--end #add-hierarchy-form-modal .modal-->
    <script>
        jQuery(document).ready(function(){
            jQuery('#message-modal').modal('show');
        })
    </script>
    {% endif %}
  {% endfor %}
{% if needs_submit %}
{% if is_submitted %}
{% else %}
<!--<form action="." method="post">-->
{% endif %}
{% endif %}

{% for block in section.pageblock_set.all %}

{% if block.block.display_name == "Gate Block" %}

<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
{% render block %}
</div>

{% elif block.block.display_name == "Decision Block" %}
{% for quiz in case_quizblocks %}
            {% if quiz.id == block.id %}
                {% if quiz.completed != True%}
                <form class="decision-block" id="pageblock-{{block.id}}-quiz" action="." method="post">{% csrf_token %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
    {% if block.label %}
        
        <h3>{{block.label}}</h3>
    {% endif %}
{% render block %}
</div>
{% for quiz in case_quizblocks %}
            {% if quiz.id == block.id %}
                {% if quiz.completed != True %}
                <input type="hidden" name="pageblock-{{block.id}}-case" value="{{case.id}}" />
                <input id="pageblock-{{block.id}}-submit" type="submit" value="Submit Decision" class="btn btn-primary" />
                 </form>
                
        {% endif %}
    {% endif %}
{% endfor %}
{% elif block.block.display_name == "Text Block" %}
{% is_block_on_user_path request section block casemap.value as user_path %}
  {% if user_path %}
    <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
  
    {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
    {% render block %}
    </div>
  {%endif%}
{% else %}

    <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">

    {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
    {% render block %}
    </div>

{% endif %}
{% endfor %}

{% include "pagetree/toc.html" %}

</div>


{% endblock %}

{% block content-nav %}
  {% if request.user.is_superuser %}
  {% else %}
  {% get_next_hierarchy_section request section as next_hier_sec %}
    {% if next_hier_sec %}
      {% with previous=section.get_previous next_section=section.get_next %}

          <ul class="pager">
          {% if previous %}
          {% get_previous_group_user_section request section previous part as prev_sec %}
            {% if prev_sec %}
            <li class="previous">
                  <a href="{{prev_sec.get_absolute_url}}">&larr; Previous</a>
            </li>
            {% endif %}
          {% endif %}

          {% if next_section %}
          {% is_not_last_group_user_section request section part as not_last_sec %}
          {% is_section_unlocked request section as unlocked %}
            {% if not_last_sec %}
            <li class="next"><a class="{% if unlocked %}{% else %}disabled{%endif%}" href="{% if unlocked %}{{next_section.get_absolute_url}}{%endif%}">Next &rarr;</a></li>
            {% endif %}
          {% endif %}
          </ul>

      {% endwith %}
    {% endif %}
  {% endif %}
  <!-- end block content-nav-->
{% endblock %}

{% comment %}
  {% block library %}
  {% if library_items|length > 0 %}
      <div id="library-item-view">
          <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading header">Library</div>
          <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Document</th>
              </tr>
          </thead>
          <tbody>
          {% for item in library_items %}
              <tr>
                  <td> {{item.name}} </td>
                  <td class="library-item-document"> 
                      <span class="hidden">{{item.id}}</span>
                      <a target="_blank" href="{{MEDIA_URL}}{{item.doc}}">Document link</a> 
                  </td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
      </div><!--end #library-item-view-->
  {% endif %}
  {% endblock %}
{% endcomment %}