{% extends 'pagetree/uelc_admin.html' %}
{% load bootstrap %}

{% block case %}

  <div class="panel panel-default uelc-admin-case uelc-admin-panel">
      <div class="panel-heading">
        <button class="demo btn btn-primary pull-right" data-toggle="modal"  data-target="#add-case-form-modal" href="#add-case-form-modal">Add Case</button>
         <p class="lead">Add and Edit Cases</p>
            <p>Cases are a collection of pages that include text, decision, and gate blocks.<br />Each case is a new decision experience for a cohort of users.</p>
            <div id="add-case-form-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="modal-header panel-heading">Add Case</div>
                        <div class="modal-body">
                          <div id="cases">
                              <form role="form" data-toggle="validator" id="add-case-form" action="/uelcadmin/createcase/" method="post">{% csrf_token %}
                                  {{casemodel.add_form|bootstrap}}
                                  <input type="submit" class="btn btn-primary form-submit" value="Submit">
                                  <input type="reset" class="reset-button hidden" value="Reset" />
                              </form>
                          </div><!--end #cases-->
                        </div> <!--end modal-dialog-->
                    </div><!-- end modal-content-->
                </div><!--end .model-body-->
            </div><!--end #add-case-form-modal .modal-->
      </div>
      <div class="panel-body">
        <table id="case-list" class="table">
           <thead>
              <tr>
                <th>Case</th>
                <th>Path</th>
                <th>URL</th>
                <th colspan="2">Cohort/s</th>
              </tr>
            </thead>
            <tbody>
              {% for case in cases %}
              <tr id="case-{{vase.id}}">
                <td class="td-casename">{{ case.name }}</td>
                <td class="td-hierarchy">{{ case.hierarchy }}</td>
                <td class="td-hierarchy"><a href="{{ case.hierarchy.base_url }}">{{ case.hierarchy.base_url }} </a></td>
                <td class="td-cohorts">
                    {{ case.cohortnames }}
                </td>
                <td style="width: 140px;">
                  <button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#edit-case-form-modal-{{case.id}}" href="#edit-case-form-modal-{{case.id}}">Edit</button>

                  <div id="edit-case-form-modal-{{case.id}}" class="modal fade">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <div class="modal-header panel-heading">Edit Case</div>
                              <div class="modal-body">
                                  <form data-toggle="validator" id="edit-case-form-{{case.id}}" action="/uelcadmin/editcase/" method="post">{% csrf_token %}
                                      {{ case.edit_form|bootstrap }}
                                      <input type="hidden" name="case_id" value="{{case.id}}">
                                      <input type="submit" class="btn btn-primary form-submit" value="Submit">
                                      <input type="reset" class="reset-button hidden" value="Reset" />
                                  </form>
                              </div> <!--end modal-body-->
                          </div><!-- end modal-content-->
                      </div><!--end .model-dialog-->
                  </div><!--end #edit-case-form-modal .modal-->

                  <button class="btn btn-danger btn-sm" data-toggle="modal"
                          data-target="#delete-case-form-modal-{{case.id}}"
                          href="#delete-case-form-modal-{{case.id}}">
                      Delete
                  </button>

                  <div id="delete-case-form-modal-{{case.id}}" class="modal fade">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <div class="modal-header panel-heading">Delete Case</div>
                              <div class="modal-body">
                                  <form data-toggle="validator" id="delete-case-form-{{case.id}}" action="/uelcadmin/deletecase/" method="post">{% csrf_token %}
                                      <input type="hidden" name="case_id" value="{{case.id}}">
                                      <input type="submit" class="btn-danger btn btn-primary form-submit" value="Confirm Delete">
                                  </form>
                              </div> <!--end modal-body-->
                          </div><!-- end modal-content-->
                      </div><!--end .modal-dialog-->
                  </div>
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div><!--end panel-body-->
  </div><!--end panel-->

  <div class="panel panel-default uelc-admin-panel">
    <div class="panel-heading">
        <button class="demo btn btn-primary pull-right" data-toggle="modal"  data-target="#add-hierarchy-form-modal" href="#add-hierarchy-form-modal">Add Hierarchy Item</button>
        <p class="lead">Add and Delete Case Hierarchies</p>
        <p>A hierarchy is a unique location on the site where case content may be accessed to view or edit.<br />Add a hierarchy and then add a case to be accessed on that hierarchy.</p>
    </div>
    <div class="panel-body">
        <div id="add-hierarchy-form-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-header panel-heading">Add Case Path</div>
                    <div class="modal-body">
                      <div id="hierarchies">
                          <form data-toggle="validator" id="add-hierarchy-form" action="/uelcadmin/createhierarchy/" method="post">{% csrf_token %}
                              {{create_hierarchy_form|bootstrap}}
                              <input type="submit" class="btn btn-primary form-submit" value="Submit">
                              <input type="reset" class="reset-button hidden" value="Reset" />
                          </form>
                      </div>
                      </div> <!--end modal-dialog-->
                </div><!-- end modal-content-->
            </div><!--end .model-body-->
        </div>
      </div>
      <div class="panel-body">
        <table id="hierarchy-list" class="table">
           <thead>
              <tr>
                <th>Path</th>
                <th>URL</th>
                <th>Edit URL</th>
                <th>Case</th>
              </tr>
            </thead>
            <tbody>
              {% for h in hierarchy_cases %}
              <tr id="case-{{vase.id}}">
                <td class="td-hierarchyname">{{ h.0.name }}</td>
                <td class="td-hierarchy-url"><a href="{{ h.0.base_url }}">{{ h.0.base_url }}</a></td>
                <td class="td-hierarchy-edit-url"><a href="{{ h.0.base_url }}edit/">{{ h.0.base_url }}edit/</a></td>
                <td class="td-cohorts">
                    {{ h.1.name }}
                </td>
                <td>

                  <button class="btn btn-danger btn-sm" data-toggle="modal"  data-target="#delete-hierarchy-form-modal-{{h.0.id}}" href="#delete-hierarchy-form-modal-{{h.0.id}}">Delete</button>
                  <div id="delete-hierarchy-form-modal-{{h.0.id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header panel-heading">Delete Hierarchy</div>
                            <div class="modal-body">
                              <div id="delete-hierarchy-{{h.0.id}}" class="panel panel-default">
                                <div class="panel-heading">ARE YOU SURE?</div>
                                <div class="panel-body">
                                  <form data-toggle="validator" id="delete-hierarchy-form" action="/uelcadmin/deletehierarchy/" method="post">{% csrf_token %}
                                    <input type="hidden" name="hierarchy_id" value="{{h.0.id}}">
                                    <input type="submit" class="btn btn-danger btn-primary form-submit" value="Confirm Delete">
                                  </form>
                                </div>
                              </div><!--end #hierarchiess-->
                              </div> <!--end modal-dialog-->
                        </div><!-- end modal-content-->
                    </div><!--end .model-body-->
                  </div><!--end #add-hierarchy-form-modal .modal-->
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div><!--end panel-body-->
  </div><!--end panel-->

{% endblock %}
