{% extends 'pagetree/base_pagetree.html' %}
{% load bootstrap %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/uelc_admin/uelc_admin.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-multiselect.css" type="text/css"/>
<style type="text/css">
button.close{
  padding: 10px;
}
</style>
<p>Welcome,</p>
<p>This page is for creating Users, Cases, and Cohorts</p>
{% if user_view%}
  <div class="panel panel-default">
      <div class="panel-heading">Users</div>
      <div class="panel-body">
        <table id="user-list" class="table">
           <thead>
              <tr>
                <th>Username</th>
                <th>Profile Type</th>
                <th>Cohort/s</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.profile.profile_type }}</td>
                <td>{{ user.profile.cohorts}}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div><!--end panel-body-->
  </div><!--end panel-->
{% endif %}
<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-hierarchy-form-modal" href="#add-hierarchy-form-modal">Add Hierarchy Item</button>
<div id="add-hierarchy-form-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Hierarchy</div>
            <div class="modal-body">
              <div id="hierarchies" class="panel panel-default">
                <div class="panel-heading">Hierarchies</div>
                <div class="panel-body">
                  <form data-toggle="validator" id="add-hierarchy-form" action="." method="post">
                    {{create_hierarchy_form|bootstrap}}
                    <input type="hidden" name="action" value="hierarchyCallback">
                    <input type="submit" class="btn btn-primary form-submit" value="Submit">
                    <input type="reset" class="reset-button hidden" value="Reset" />
                  </form>
                </div>
              </div><!--end #hierarchiess-->
              </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-hierarchy-form-modal .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-user-form-modal" href="#add-user-form-modal">Add User</button>
  <div id="add-user-form-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-header panel-heading">Add User</div>
        <div class="modal-body">
          <div id="users" class="panel panel-default">
            <div class="panel-heading">Users</div>
            <div class="panel-body">
              <form role="form" data-toggle="validator" id="add-user-form" action="." method="post">
                {{create_user_form|bootstrap}}
                <input type="hidden" name="action" value="createUserCallback">
                <input type="submit" class="btn btn-primary form-submit" value="Submit">
                <input type="reset" class="reset-button hidden" value="Reset" />
              </form>
            </div>
          </div><!--end #users-->
        </div> <!--end modal-dialog-->
      </div><!-- end modal-content-->
  </div><!--end .model-body-->
</div><!--end #add-user-form-modal .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-cohort-form-modal" href="#add-cohort-form-modal">Add Cohort</button>
<div id="add-cohort-form-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Cohort</div>
            <div class="modal-body">
              <div id="cohorts" class="panel panel-default">
                <div class="panel-heading">Cohorts</div>
                <div class="panel-body">
                <form role="form" data-toggle="validator" id="add-cohort-form" action="." method="post">
                  {{cohortmodel.add_form|bootstrap}}
                    <input type="hidden" name="action" value="createCohortCallback">
                    <input type="submit" class="btn btn-primary form-submit" value="Submit">
                    <input type="reset" class="reset-button hidden" value="Reset" />
                </form>
                </div>
              </div><!--end #cohorts-->
              </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-cohort-form-modal .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-case-form-modal" href="#add-case-form-modal">Add Case</button>
<div id="add-case-form-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Case</div>
            <div class="modal-body">
              <div id="cases" class="panel panel-default">
                <div class="panel-heading">Cases</div>
                <div class="panel-body">
                <form role="form" data-toggle="validator" id="add-case-form" action="." method="post">
                  {{casemodel.add_form|bootstrap}}
                  <input type="hidden" name="action" value="createCaseCallback">
                  <input type="submit" class="btn btn-primary form-submit" value="Submit">
                  <input type="reset" class="reset-button hidden" value="Reset" />
                </form>
                </div>
              </div><!--end #cases-->
            </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-case-form-modal .modal-->
{% endblock %}