{% extends 'pagetree/uelc_admin.html' %}
{% load bootstrap %}
{% block edituserpass %}
<style type="text/css">
button.close{
  padding: 10px;
}
</style>

  <div class="panel panel-default">
      <div class="panel-heading">
        <p>Edit Password for: {{user.username}}</p>

      </div><!--end panel-heading-->

                      <form role="form" data-toggle="validator" id="add-user-form" action="." method="post">{% csrf_token %}
                        {{edit_user_pass_form|bootstrap}}
                        <input type="submit" class="btn btn-primary form-submit" value="Submit">
                        <input type="reset" class="reset-button hidden" value="Reset" />
                      </form>
  </div>

{% endblock %}