{% extends 'pagetree/uelc_admin.html' %}
{% load bootstrap %}

{% block user %}
  <div class="panel panel-default uelc-admin-panel">
      <div class="panel-heading">

        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#add-user-form-modal" href="#add-user-form-modal" aria-hidden="true">Create User</button>
        <p class="lead">Users</p>

        <p>Users have three profile types:</p>

        <ul>
        <li><strong>Administrators</strong> may access the ELDEx management panel, facilitate case control, edit pages, and preview content from the perspective of other profile types.</li>
        <li><strong>Assistants</strong> may facilitate case control, edit pages and preview content from the perspective of other profile types.</li>
        <li><strong>Group</strong> users are given to group leaders to register group decision-making in the system. Each group profile is given a decision path in the case control for the assistant and admin users to facilitate.</li>
         </ul>
 
          <div id="add-user-form-modal" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-header panel-heading">Add User</div>
                <div class="modal-body">
                  <div id="users" class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body">
                      <form role="form" data-toggle="validator" id="add-user-form" action="/uelcadmin/createuser/" method="post">{% csrf_token %}
                        {{create_user_form|bootstrap}}
                        <input type="submit" class="btn btn-primary form-submit" value="Submit">
                        <input type="reset" class="reset-button hidden" value="Reset" />
                      </form>
                    </div>
                  </div><!--end #users-->
                </div> <!--end modal-dialog-->
              </div><!-- end modal-content-->
          </div><!--end .model-body-->
        </div><!--end #add-user-form-modal .modal-->
      </div><!--end panel-heading-->
      <div class="panel-body">

        <div class="row tools">
            <div class="col-md-4">
                <form action='{% url "uelcadmin-user-view" %}' method="get">
                    <div class="input-group">
                        <span class="input-group-addon">Search</span>
                        <input type="text" class="form-control" name="q"
                            placeholder="by username" value="{{q}}" />
                        <span class="input-group-btn">
                            <button class="btn btn-white btn-search-text" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                {% with page_obj=users %}
                    {% include 'main/pagination.html' %}
                {% endwith %}
            </div>
        </div>
        <br />

        <table id="user-list" class="table">
           <thead>
              <tr>
                <th>Username</th>
                <th>Profile Type</th>
                <th>Cohort/s</th>
                <th>Edit User</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr id="user-{{user.id}}">
                <td class="td-username">{{ user.username }}</td>
                <td class="td-profile">{{ user.profile.profile_type }}</td>
                <td class="td-cohorts">{{ user.profile.cohort}}</td>
                <td>
                  <button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#edit-user-form-modal-{{user.id}}" href="#edit-user-form-modal-{{user.id}}">Edit</button>

                  <div id="edit-user-form-modal-{{user.id}}" class="modal fade">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header panel-heading">Edit User</div>
                            <div class="modal-body">
                              <div id="edit-user" class="panel panel-default">
                                <div class="panel-heading">Edit User</div>
                                <div class="panel-body">
                                  <form data-toggle="validator" id="edit-user-form" action="{% url 'uelcadmin-edit-user' user.id %}" method="post">{% csrf_token %}
                                    {% if user.profile %}
                                    {{user.profile.edit_form|bootstrap}}
                                    {% endif %}
                                    <p><a target="_blank" href="/uelcadmin/edituserpass/{{user.id}}/">Change Password</a></p>
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <input type="submit" class="btn btn-primary form-submit" value="Submit">
                                    <input type="reset" class="reset-button hidden" value="Reset" />
                                  </form>
                                </div>
                              </div><!--end #hierarchiess-->
                              </div> <!--end modal-dialog-->
                        </div><!-- end modal-content-->
                    </div><!--end .model-body-->
                  </div><!--end #edit-user-form-modal .modal-->

                  <button class="btn btn-danger btn-sm" data-toggle="modal"  data-target="#delete-user-form-modal-{{user.id}}" href="#delete-user-form-modal-{{user.id}}">Delete</button>
                  <div id="delete-user-form-modal-{{user.id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header panel-heading">Delete User</div>
                            <div class="modal-body">
                              <div id="edit-user" class="panel panel-default">
                                <div class="panel-heading">ARE YOU SURE?</div>
                                <div class="panel-body">
                                  <form data-toggle="validator" id="edit-user-form" action="/uelcadmin/deleteuser/" method="post">{% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <input type="submit" class="btn btn-danger btn btn-primary form-submit" value="Confirm Delete">
                                  </form>
                                </div>
                              </div><!--end #hierarchiess-->
                              </div> <!--end modal-dialog-->
                        </div><!-- end modal-content-->
                    </div><!--end .model-body-->
                  </div><!--end #add-hierarchy-form-modal .modal-->
                </td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div><!--end panel-body-->
  </div><!--end panel-->
{% endblock %}
