{% extends 'pagetree/base_pagetree.html' %}
{% load bootstrap %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-multiselect.css" type="text/css"/>
<p>Welcome,</p>
<p>This page is for creating Users, Cases, and Cohorts</p>
<div id="hidden-forms" class="">

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-hierarchy-form" href="#add-hierarchy-form">Add Hierarchy Item</button>
<div id="add-hierarchy-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Hierarchy</div>
            <div class="modal-body">
  <div id="hierarchies" class="panel panel-default">
    <div class="panel-heading">Hierarchies</div>
    <div class="panel-body">
      <form data-toggle="validator" id="add-hierarchy-form" action="." method="post">
        {{create_hierarchy_form|bootstrap}}
        <input type="hidden" name="action" value="hierarchyCallback">
        <input type="submit" class="btn btn-primary form-submit" value="Submit">
      </form>
    </div>
  </div><!--end #hierarchiess-->
              </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-hierarchy-form .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-user-form" href="#add-user-form">Add User</button>
<div id="add-user-form" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="modal-header panel-heading">Add User</div>
  <div class="modal-body">
  <div id="users" class="panel panel-default">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
      <form role="form" data-toggle="validator" id="add-user-form" action="." method="post">
        {{create_user_form|bootstrap}}
        <input type="hidden" name="action" value="createUserCallback">
        <input type="submit" class="btn btn-primary form-submit" value="Submit">
      </form>
    </div>
  </div><!--end #users-->
              </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-user-form .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-cohort-form" href="#add-cohort-form">Add Cohort</button>
<div id="add-cohort-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Cohort</div>
            <div class="modal-body">
  <div id="cohorts" class="panel panel-default">
    <div class="panel-heading">Cohorts</div>
    <div class="panel-body">
    <form role="form" data-toggle="validator" id="add-cohort-form" action="." method="post">
      {{cohortmodel.add_form|bootstrap}}
        <input type="hidden" name="action" value="createCohortCallback">
        <input type="submit" class="btn btn-primary form-submit" value="Submit">
    </form>
    </div>
  </div><!--end #cohorts-->
              </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #library-add-form .modal-->

<button class="demo btn btn-info btn-sm" data-toggle="modal"  data-target="#add-case-form" href="#add-case-form">Add Case</button>
<div id="add-case-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Case</div>
            <div class="modal-body">
  <div id="cases" class="panel panel-default">
    <div class="panel-heading">Cases</div>
    <div class="panel-body">
    <form role="form" data-toggle="validator" id="add-case-form" action="." method="post">
      {{casemodel.add_form|bootstrap}}
      <input type="hidden" name="action" value="createCaseCallback">
      <input type="submit" class="btn btn-primary form-submit" value="Submit">
    </form>
    </div>
  </div><!--end #cases-->
            </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #add-case-form .modal-->

  </div><!--end #hidden-forms-->
{{comment}}

<div id="library-add-form" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-header panel-heading">Add Library Item</div>
            <div class="modal-body">

            </div> <!--end modal-dialog-->
        </div><!-- end modal-content-->
    </div><!--end .model-body-->
</div><!--end #library-add-form .modal-->
{{endcomment}}

<script>
jQuery(document).ready(function(){
  // create Admin class
  var UELCAdmin = function(){
    this.setMultiselects = function(){
      jQuery('.hierarchy-select').multiselect();
      jQuery('.cohort-select').multiselect();
      jQuery('.user-select').multiselect();
      jQuery('.create-user-profile').multiselect();

    },

    this.addListeners = function(){
      jQuery('.form-submit').click(function(){
        var form = jQuery(this).parent()
        window.admin.submit(form);
      })
    },

    this.formUpdate = function(form){
      console.log(form);
    },

    this.highlight = function(element){
      jQuery(element).closest('.form-control').parent().removeClass('success').addClass('has-error');
    },

    this.removeHighlight = function(element){
      console.log(element);
      jQuery(element).addClass('valid').parent().removeClass('has-error').addClass('success');
    }

    this.submit = function(form){
      jQuery(form).validate({

          rules: {
              name: {
                  minlength: 3,
                  required: true
              },
              url: {
                  required: true,
              },
              username:{
                minlength: 3,
                required: true,
              },
              password1:{
                minlength: 3,
                required: true,
              },
              password2:{
                minlength: 3,
                required: true,
                equalTo : "#id_password1",
              },
              user: "required",
              hierarchy: "required",
              cohort: {
                minslength: 3,
                required:true,
              }
          },          
          
          ignore: '.ignore',
          
          errorClass: 'has-error',

          highlight: function (element) {
              window.admin.highlight(element);
          },
          success: function (element) {
              window.admin.removeHighlight(element);
          },
          error: function(){
            alert('problem!')
          },
          submitHandler: function(form){
            jQuery.post( "/uelcadmin/", jQuery(form).serialize(), function(data){
              window.admin[data.action](data.action_args);
            });
          },
        });//end validate
    },

    this.hierarchyCallback = function(data){
      if(data.error){
        jQuery('#add-hierarchy-form').find('input.form-control').each(function(){
          window.admin.highlight(this);  
        })
        alert(data.error);
      }else{
        // success
        elem = jQuery('.hierarchy-select');
        html = '<option value='+data.value+'>'+data.name+'</option>';
        elem.append(html)
        jQuery('.hierarchy-select').multiselect('destroy').multiselect('refresh');
        jQuery('#add-hierarchy-form').trigger("reset");
        jQuery('#add-hierarchy-form').find('input.form-control').each(function(){
          window.admin.removeHighlight(this);  
        })
        alert('Your Hierarchy has been created! It is available for editing,\
          so go and add some content! You can access it here,'+data.url+'edit/');
      }
    },

    this.createUserCallback = function(data){
      if(data.error){

        jQuery('.create-user-profile').parent().parent().addClass('has-error')
        alert(data.error);
      }else{
        elem = jQuery('.user-select');
        html = '<option value='+data.user+'>'+data.username+'</option>';
        elem.append(html)
        jQuery('.user-select').multiselect('destroy').multiselect('refresh');
        jQuery('#add-user-form').trigger("reset");
        jQuery('.create-user-profile').multiselect('destroy').multiselect('refresh');
        jQuery('.create-user-profile').parent().parent().removeClass('has-error')
        jQuery('#add-user-form').find('input.form-control').each(function(){
          window.admin.removeHighlight(this);  
        })
        alert('created user');
        
      }
    },

    this.createCohortCallback = function(data){
      if(data.error){
        jQuery('#add-cohort-form').find('input.form-control').each(function(){
          window.admin.highlight(this);  
        })
        alert(data.error);

      }else{
        // success
        elem = jQuery('.cohort-select');
        html = '<option value='+data.cohort+'>'+data.name+'</option>';
        elem.append(html)
        jQuery('.cohort-select').multiselect('destroy').multiselect('refresh');
        jQuery('#add-cohort-form').trigger("reset");
        jQuery('#add-cohort-form').find('input.form-control').each(function(){
          window.admin.removeHighlight(this);  
        })
        alert('Cohort has been created!');
        jQuery('.user-select').multiselect('destroy').multiselect('refresh');
      }
    },

    this.createCaseCallback = function(data){
      if(data.error){
        jQuery('#add-case-form').find('input.form-control').each(function(){
          window.admin.highlight(this);  
        })
        alert(data.error);
        
      }else{
        // success
        jQuery('#add-case-form').trigger("reset");
        jQuery('#add-case-form').find('input.form-control').each(function(){
          window.admin.removeHighlight(this);  
        })
        jQuery('.cohort-select').multiselect('destroy').multiselect('refresh');
        jQuery('.hierarchy-select').multiselect('destroy').multiselect('refresh');
        alert('Case has been created!');
      }
    },

    this.init = function(){
      this.setMultiselects();
      this.addListeners();
    }
  };

  //Instatntiate the class
  window.admin = new UELCAdmin();
  admin.init();

})
</script>
{% endblock %}

{{comment}}
1) create clone function for each form
  a) this will have to end with a click listener/handler for the form sumission
2) create modal/s for forms to show in
3) create handler functions to call the forms in the order needed. 
{{endcomment}}