{% extends 'pagetree/base_pagetree.html' %}
{% load bootstrap %}
{% block content %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-multiselect.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/uelc_admin/uelc_admin.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-multiselect.css" type="text/css"/>
<style type="text/css">
button.close{
  padding: 10px;
}
</style>
<div id="uelc-admin-menu" class="navbar-collapse collapse in">
  <ul class="nav navbar-nav nav-tabs">
    <li data-tab="case" class="active"><a href="/uelcadmin/case/">Case</a></li>
    <li data-tab="cohort"><a href="/uelcadmin/cohort/">Cohort</a></li>
    <li data-tab="user"><a href="/uelcadmin/user/">Users</a></li>
  </ul>
</div>

{% if messages %}
  {% for message in messages %}
  {% if message.level_tag == 'error' %}
    <div id="message-modal" class="modal fade" data-callback="{{message.extra_tags}}">
      <div class="modal-dialog">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="modal-header panel-heading">Message</div>
              <div class="modal-body bg-danger">
                <div id="edit-user" class="panel panel-default">
                  <div class="panel-heading">{{ message.level_tag }}</div>
                  <div class="panel-body">
                        {{ message }}
                  </div>
                </div><!--end #hierarchiess-->
                </div> <!--end modal-dialog-->
          </div><!-- end modal-content-->
      </div><!--end .model-body-->
    </div><!--end #add-hierarchy-form-modal .modal-->
  {% endif %}

  {% if message.level_tag == 'success' %}
    <div id="message-modal" class="modal fade" data-callback="{{message.extra_tags}}">
      <div class="modal-dialog">
          <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="modal-header panel-heading">Message</div>
              <div class="modal-body bg-success">
                <div id="edit-user" class="panel panel-default">
                  <div class="panel-heading">{{ message.level_tag }}</div>
                  <div class="panel-body">
                        {{ message }}
                  </div>
                </div><!--end #hierarchiess-->
                </div> <!--end modal-dialog-->
          </div><!-- end modal-content-->
      </div><!--end .model-body-->
    </div><!--end #add-hierarchy-form-modal .modal-->
  {% endif %}
 {% endfor %}
{% endif %}

{% block case %}
{% endblock %}

{% block cohort %}
{% endblock %}

{% block user %}
{% endblock %}

{% block edituserpass %}
{% endblock %}

{% endblock %}