{% extends 'pagetree/uelc_admin.html' %}
{% load bootstrap %}

{% block cohort %}

    <div class="panel panel-default uelc-admin-panel">
      <div class="panel-heading">

      <button class="btn btn-primary pull-right" data-toggle="modal"  data-target="#add-cohort-form-modal" href="#add-cohort-form-modal">Create Cohort</button>
      <p class="lead">Create and Edit Cohorts</p>
      <p>A cohort is a group of users connected around an assigned case experience.</p>

      <div id="add-cohort-form-modal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-header panel-heading">Add Cohort</div>
                  <div class="modal-body">
                      <div id="cohorts">
                          <form role="form" data-toggle="validator" id="add-cohort-form" action="/uelcadmin/createcohort/" method="post">{% csrf_token %}
                              {{cohortmodel.add_form|bootstrap}}
                              <input type="submit" class="btn btn-primary form-submit" value="Submit">
                              <input type="reset" class="reset-button hidden" value="Reset" />
                          </form>
                      </div><!--end #cohorts-->
                    </div> <!--end modal-dialog-->
              </div><!-- end modal-content-->
          </div><!--end .model-body-->
      </div><!--end #add-cohort-form-modal .modal-->

      </div>
      <div class="panel-body">
          <table id="user-list" class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Case</th>
                <th>Users</th>
                <th>Edit Cohort</th>
                <th>Delete Cohort</th>
              </tr>
            </thead>
            <tbody>
              {% for cohort in cohorts %}
              <tr id="cohort-{{cohort.id}}">
                <td class="td-cohort-name">{{ cohort.name }}</td>
                <td class="td-cohort-case">
                {% if cohort.case %}
                    {{ cohort.casename }}
                {% endif %}

                </td>
                <td class="td-cohort-users">
                    {% for up in cohort.user_profile_cohort.all %}
                        {% with user=up.user %}
                            <a href="{% url 'uelcadmin-edit-user' user.id %}" style="margin: 3px;" class="demo btn btn-info btn-sm">{{user}}</button>
                        {% endwith %}
                    {% endfor %}
                  </td>
                <td class="td-cohort-edit">
                    <a href="{% url 'uelcadmin-edit-cohort' cohort.id %}" class="demo btn btn-info btn-sm">Edit Cohort</button>
                </td>
                <td>

                <button class="btn btn-danger btn-sm" data-toggle="modal"  data-target="#delete-cohort-form-modal-{{cohort.id}}" href="#delete-cohort-form-modal-{{cohort.id}}">Delete</button>
                  <div id="delete-cohort-form-modal-{{cohort.id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header panel-heading">Delete cohort</div>
                            <div class="modal-body">
                              <div id="delete-cohort" class="panel panel-default">
                                <div class="panel-heading">ARE YOU SURE?</div>
                                <div class="panel-body">
                                  <form data-toggle="validator" id="delete-cohort-form" action="/uelcadmin/deletecohort/" method="post">{% csrf_token %}
                                    <input type="hidden" name="cohort_id" value="{{cohort.id}}">
                                    <input type="submit" class="btn btn-danger btn btn-primary form-submit" value="Confirm Delete">
                                  </form>
                                </div>
                              </div><!--end #hierarchiess-->
                              </div> <!--end modal-dialog-->
                        </div><!-- end modal-content-->
                    </div><!--end .model-body-->
                  </div><!--end #add-hierarchy-form-modal .modal-->

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!--end panel-body-->
      </div><!-- end panel -->

{% endblock %}
