{% extends "base.html" %}
{% load bootstrap %}
{% load accessible %}

{% block content %}

<ul class="breadcrumb">
    <li>
      {% get_quizblock_attr case_answer.answer.question.quiz.id as quizblock %}
      <a href="{{quizblock.edit_url}}">Back to Page Edit</a>
    </li>
    <li>
      <a href="{% url 'edit-quiz' case_answer.answer.question.quiz.id %}">
        Edit Decision
      </a>
    </li>
    <li>
        <a href="{% url 'add-case-answer-to-question' case_answer.answer.question.id %}">Edit Choices
            <!--{{case_answer.answer.question.display_number}}: {{ case_answer.answer.question.text }}-->
        </a>
    </li>
</ul>


<h2>Edit Decision choice</h2>
<p> <b>Choice Title:</b> {{case_answer.title}} </p>
<b>Choice Description:</b> <br /> 
<p> {{ case_answer.description }} </p>

<form action="." method="post" class="well form-horizontal" >{% csrf_token %}
  <table width="100%">
    {{ case_answer_form|bootstrap}}
  </table>
  <input type="submit" value="save" class="btn btn-primary" />
</form>

{% endblock %}
