{% extends 'base.html' %}
{% load bootstrap %}
{% load static from staticfiles %}
{% load accessible %}

{% block css %}
<link rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <style type="text/css">
        .draghandle {float: left;}
        #answers {list-style-type: none; margin: 0; padding: 0;}
        #answers li { margin: 0 3px 3px 3px; padding: 0.4em .4em 3em .4em;
        padding-left: 1.5em; 
              background-color: #ddd;
        }
        #answers li span { position: absolute; margin-left: -1.3em; }
        .dragging {border: #f60 solid 1px;}
    </style>
    
{% endblock %}

{% block js %}
    {% include "quizblock/include_jquery.html" %}
    <script src="{% static 'quizblock/js/quizblock-admin.js' %}"></script>
    <script>
        (function($) {
        var url = "{% url 'reorder-answer' question.id %}";
        $(document).ready(function() {
            $("#answers").sortable({
                containment : 'parent',
                axis : 'y',
                tolerance: 'pointer',
                activeClass: 'dragging',
                handle: '.draghandle',
                stop: function(event, ui) {
                    quizblock.saveOrder($('#answers li'), url, 'answer_');
                }
            });
            $("#answers").disableSelection();
        });
        })(quizblock.$);
    </script>
{% endblock %}
{% block content %}

<ul class="breadcrumb">
  {% get_quizblock_attr question.quiz.id as quizblock %}
<a href="{{ quizblock.edit_url}}">Back to Page Edit</a>
<li><a href="{{ question.casequiz.pageblock.section.get_edit_url }}">{{question.casequiz.pageblock.section.label}}</a></li>
<li><a href="{% url 'edit-quiz' question.quiz.id %}">Edit Decision</a></li>
<li>Edit Choices</li>
</ul>
{% comment %}
<h2>Question {{question.display_number}}: {{ question.text }}</h2>

<form action="{% url 'edit-question' question.id %}" method="post" class="well form-horizontal" >{% csrf_token %}
<table width="100%">
{{ question.edit_form|bootstrap }}
</table>
<input type="submit" value="save" class="btn btn-primary" />
</form>
{% endcomment %}
{% if question.answer_set.count %}
  <h2>Decision Choices</h2>
    <ul class="dragparent" id="answers">
    {% for answer in question.answer_set.all %}
      <li class="draggable" id="answer-{{answer.id}}">
      {% comment %}{% endcomment %}
        <span title="drag to reorder answers" class="draghandle ui-icon ui-icon-arrowthick-2-n-s"></span>
          <a href="{% url 'edit-answer' answer.id %}">{{answer.label}}</a>
         {% if answer.correct %}<i class="icon-ok"></i>{% endif %}
         
         {% if answer.caseanswer_set.count %}
             {% for caseanswer in answer.caseanswer_set.all %}
                 <div class="case-answer-title">Choice Title: {{ caseanswer.title }}</div>
                 
                 <div class="case-answer-description">Choice Description: {{ caseanswer.description }}</div>
                 <div class="edit-delete-links">
                    <div class"case-answer-edit-btn"><a href="{% url 'edit-case-answer' caseanswer.id %}">Edit</a></div>
                    <a class="link" data-toggle="modal"  data-target="#delete-caseanswer-form-modal-{{caseanswer.id}}" href="#delete-caseanswer-form-modal-{{caseanswer.id}}">Delete</a>
                  </div>
                  <div id="delete-caseanswer-form-modal-{{caseanswer.id}}" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="modal-header panel-heading">Delete</div>
                            <div class="modal-body">
                              <div id="edit-caseanswer" class="panel panel-default">
                                <div class="panel-heading">ARE YOU SURE?</div>
                                <div class="panel-body">
                                  <form data-toggle="validator" id="edit-caseanswer-form" action="/edit_question/{{caseanswer.id}}/delete_case_answer/" method="post">{% csrf_token %}
                                    <input type="hidden" name="caseanswer_id" value="{{caseanswer.id}}">
                                    <input type="submit" class="btn-danger btn btn-primary form-submit" value="Confirm Delete">
                                  </form>
                                </div>
                              </div><!--end #hierarchiess-->
                              </div> <!--end modal-dialog-->
                        </div><!-- end modal-content-->
                    </div><!--end .model-body-->
                  </div><!--end #add-hierarchy-form-modal .modal-->

             {% endfor %}
         {% endif %}
      </li>
    {% endfor %}
    </ul>
{% endif %}

{% if question.answerable %}
<h3>Add Decision Choice</h3>
    <form action="{% url 'add-case-answer-to-question' question.id %}" method="post" class="well form-horizontal">
    {% csrf_token %}
      <table width="100%">
        {% if case_answer_form %}
          {{ case_answer_form|bootstrap}}
        {% else %}
          <tr>Decision Value: <br /> <input type="text" name="answer-value" value="" /></tr><br />
          <tr>Decision Title: <br /> <input type="text" name="case-answer-title" value="" /></tr><br />
          <tr>Decision Description: <br /><textarea name="case-answer-description" rows="10" cols="98"></textarea></tr>
        {% endif %}
      </table>
      <input type="submit" value="save decision choice" class="btn btn-primary" />
    </form>
{% endif %}

{% endblock %}

