{% load markup %}
{% load getresponse %}
{% load bootstrap %}
{% getquestionresponse question as response %}
<div class="cases">
  <div class="question-intro-text">
  {{question.intro_text|markdown}}
  </div>
  <div class="casecontent">
    <div class="casequestion">
      <div class="question-text">
        {% if not request.user.profile.is_group_user %}
          <p><a data-toggle="modal" href="#edit-question-{{question.id}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></p>
        {% endif  %}
      {{question.text|markdown}}
    </div>
      {% if question.answerable %}
        {% if block.rhetorical %}<form id="form-{{question.id}}" method="post">{% csrf_token %}{% endif %}

  {% if question.is_single_choice %}
      {% include 'quizblock/single_choice.html' %}
      {% if not request.user.profile.is_group_user %}
      <style>
        label[for="id_question_type"], label[for="id_intro_text"], label[for="id_explanation"], label[for="id_css_extra"]{
          display: none;
        }
        #id_question_type, #id_intro_text, #id_explanation, #id_css_extra{
          display: none;
        }
        #id_css_extra + p{
          display: none;
        }
      </style>
      


      <div id="edit-question-{{question.id}}" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Edit Prompt</h4>
            </div>
            <div class="modal-body">

              <form data-post-url="{% url 'edit-question' question.id %}" action="." method="post" class="well form-horizontal" >{% csrf_token %}
                <table width="100%">
                {{ question.edit_form|bootstrap }}
                </table>
                <input type="button" value="save" class="btn btn-primary post-question" />
              </form>

            </div>
            <div class="modal-footer">
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

        <script>
          jQuery(document).ready(function(){
            jQuery('.post-question').click(function(){
              var postUrl = jQuery(this).parent().data('post-url');
              var formData = jQuery(this).parent().serialize();
              jQuery.post(postUrl, formData).success(function(){
                window.location.reload();
              }).error(function(){
                alert('Sorry, there was an error. Please submit changes again.')
              })

            })
          })
        </script>
      {% endif %}
  {% endif %}

  {% if question.is_single_choice_dropdown %}
      {% include 'quizblock/single_choice_dropdown.html' %}
  {% endif %}

  {% if question.is_multiple_choice %}
    {% include 'quizblock/multiple_choice.html' %}
  {% endif %}

        {% if block.rhetorical %}
          </form>
        {% endif %}
      {% else %}
        {% if question.is_short_text %}
          {% include 'quizblock/short_text.html' %}
        {% endif %}

        {% if question.is_long_text %}
          {% include 'quizblock/long_text.html' %}
        {% endif %}
      {% endif %}
    </div>

    {% if block.rhetorical %}
      {% include 'quizblock/show_answer.html' %}
    {% else %}
      {% if response %}
        {% include 'quizblock/show_answer.html' %}
      {% endif %}
  {% endif %}
  </div>
</div>
