{% extends 'base.html' %}
{% load bootstrap %}
{% load static from staticfiles %}
{% load accessible %}

{% block css %}
<link rel="stylesheet"
      href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />

    <style type="text/css">
        .draghandle {float: left;}
        #questions {list-style-type: none; margin: 0; padding: 0;}
        #questions li { margin: 0 3px 3px 3px; padding: 0.4em;
        padding-left: 1.5em; 
              background-color: #ddd;
        }
        #questions li span { position: absolute; margin-left: -1.3em; }
        .dragging {border: #f60 solid 1px;}
    </style>
{% endblock %}

{% block js %}
    {% include "quizblock/include_jquery.html" %}
    <script src="{% static 'quizblock/js/quizblock-admin.js' %}"></script>
    <script>
        (function($) {
        var url = "{% url 'reorder-questions' quiz.id %}";
        $(document).ready(function() {
            $("#questions").sortable({
                containment : 'parent',
                axis : 'y',
                tolerance: 'pointer',
                activeClass: 'dragging',
                handle: '.draghandle',
                stop: function(event, ui) {
                    quizblock.saveOrder($('#questions li'), url, 'question_');
                }
            });
            $("#questions").disableSelection();
        });
        })(quizblock.$);
    </script>
{% endblock %}

{% block content %}
{% get_quizblock_attr quiz.id as quizblock %}
<ul class="breadcrumb">
	<li><a href="{{quizblock.edit_url}}"><!--{{quizblock.label}}-->Back to Page Edit</a>
		
	</li>
	<li>Edit Decision</li>
</ul>


<h2>Edit Decision</h2>

{% if quiz.question_set.all.count == 0 %}
<form action="add_question/" method="post" class="well form-horizontal">{% csrf_token %}
<h2>Add Decision</h2>
<table width="100%">
{{quiz.add_question_form|bootstrap}}
</table>
<input type="submit" value="add decision" class="btn btn-primary" />
</form>
<script>
jQuery(document).ready(function(){
  var questionType = jQuery('#id_question_type').parent().parent();
  var introText = jQuery('#id_intro_text').parent().parent();
  var explanation = jQuery('#id_explanation').parent().parent()
  // select only Multiple choice: Single Answer
  jQuery('#id_question_type>option:eq(2)').prop('selected', true);
  questionType.hide();
  introText.hide();
  explanation.hide();
});
</script>
{% else %}
  {% for question in quiz.question_set.all %}

 
  <div class="question-text">
    
      <a href="#" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit-decision-{{question.id}}">
        <span class="glyphicon glyphicon-edit"></span>edit
      </a>
      {{question.text}}
  </div>
  <div id="edit-decision-{{question.id}}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Edit Decision
      </div>
      <div class="modal-body">
        
        <form data-post-url="{% url 'edit-question' question.id %}" action="." method="post" class="well form-horizontal">
          {% csrf_token %}
          {{ question.edit_form|bootstrap }}
          <input id="submit-edit-decision" type="button" value="save" class="btn btn-primary" />
        </form>
        <div class="edit-choices"><a href="{% url 'add-case-answer-to-question' question.id %}"><button class="btn btn-primary btn-sm">Add or Edit Choices for this Decision</button></a>
        </div>

      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
  <div class="delete-decision">
    <a href="{% url 'delete-question' question.id %}"><button class="btn btn-danger btn-sm">Delete Decision</button></a>
  </div>
  {% endfor %}
<script>
jQuery(document).ready(function(){
  var questionType = jQuery('#id_question_type').parent().parent();
  var introText = jQuery('#id_intro_text').parent().parent();
  var explanation = jQuery('#id_explanation').parent().parent()
  // select only Multiple choice: Single Answer
  jQuery('#id_question_type>option:eq(2)').prop('selected', true);
  questionType.hide();
  introText.hide();
  explanation.hide();
  jQuery('#submit-edit-decision').click(function(){
    var form = jQuery(this).parent();
    var formData = form.serialize();
    var postUrl = form.data('post-url');
    jQuery.post(postUrl, formData ).complete(function(){
      window.location.reload();
    }).error(function(){
      alert('Sorry, there was an error. Please submit again.');
    });
  });

})
</script>
{% endif %}


{% endblock %}

{% block primarynavrightextra %}
    <li><a href="{{section.get_absolute_url}}">View</a></li>
{% endblock %}
