{% load markup %}
{% load get_selected_curveball %}

{% comment %}
  Display all potential options to the administrator or facilitator
{% endcomment %}

{% if not request.user.profile.is_group_user %}
  {% if block.curveball_one %}
    {% if block.curveball_one.title %}
      <b>{{block.curveball_one.title|markdown}}</b>
    {% endif %}
    {% if block.curveball_one.explanation %}
      <p>{{block.curveball_one.explanation|markdown}}</p>
    {% endif %}
  {% endif %}
  {% if block.curveball_two %}
    {% if block.curveball_two.title %}
      <b>{{block.curveball_two.title|markdown}}</b>
    {% endif %}
    {% if block.curveball_two.explanation %}
      <p>{{block.curveball_two.explanation|markdown}}</p>
    {% endif %}
  {% endif %}
  {% if block.curveball_three %}
    {% if block.curveball_three.title %}
      <b>{{block.curveball_three.title|markdown}}</b>
    {% endif %}
    {% if block.curveball_three.explanation %}
      <p>{{block.curveball_three.explanation|markdown}}</p>
    {% endif %}
  {% endif %}
{% endif %}

{% if request.user.profile.is_group_user %}
  {% if block.curveballsubmission_set.count %}
  {% get_selected_curveball request.user block as selected_curveball %}      
                <p>{{ selected_curveball.curveball.explanation|markdown }}</p>        
    {% for cb in block.curveballsubmission_set.all %}
      {% if cb.group_curveball == request.user %}
        {{ block.get_selected_curveball }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endif %}