{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block usernav %}{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <img style="margin-bottom: 20px;" class="img-responsive" src="{{STATIC_URL}}img/logo-jumbotron.png" />
    <p><a class="btn btn-success btn-lg" href="/about/" role="button">Learn More</a></p>
</div>

<div class="row">
    <div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/smallgroup.jpg" />
    <h2>Engagement</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
<div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/facilitator.jpg" />
    <h2>Leadership</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
<div class="col-md-4 text-center">
    <img class="img-responsive img-rounded" src="{{STATIC_URL}}img/experts.jpg" />
    <h2>Discussion</h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui arcu, condimentum vitae feugiat eget, convallis non ipsum.
    </p>
</div>
</div>
{% endblock %}


{% block loginbox %}
<div class="loginbox-container columbia">
    <div class="loginbox">
        <h2>Login</h2>
        <div class="content">                      
        {% if form.errors %}
            <p class="errornote">
                <span>
                    <b>ERROR:</b> Invalid username or password.
                </span>
                Please try again. Note that both username and password are case-sensitive.
            </p>
        {% endif %}
            <form id="login-local" name="login_local" method="post" action=".">
                {% csrf_token %}
                <div class="login-local-form">
                    <div class="fieldwrapper">
                        <label for="id_username">Username:</label>
                        {{ form.username }}
                    </div><!-- fieldwrapper -->
                
                    <div class="fieldwrapper">
                        <label for="id_password">Password:</label>
                        {{ form.password }}
                    </div><!-- fieldwrapper -->
                </div>      
                <input class="regbutton login-local-form" type="submit" value="Log In" />                        
                <input type="hidden" name="next" value="{{ next|urlencode }}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}


